/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
header {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button {
    
    background-color: #000000;
    color: #ff6600;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Lista produktów */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    margin: 350px;
    text-align: center;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 10px;
}

.product h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product p {
    font-size: 14px;
    color: #666;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.do-koszyka {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.do-koszyka:hover {
    background-color: #e65500;
}
