.bg-orange {
    background-color: #ff6600;
    color: white;
}
a:link {
    color: white;
}
/* mouse over link */
a:hover {
    color: #ff6600;
}
a:visited {
    color: white;
}
.table-rounded {
    border-radius: 10px;
    overflow: hidden;
}